<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/beans ">

    <!-- bean definitions here -->

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
        <property name="username" value="root"/>
        <property name="password" value="Springboot" />
    </bean>

    <bean name=" jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean name="employeeDao" class="com.thanhle.dao.EmployeeDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />

    </bean>

    <bean name="employeeDao2" class="com.thanhle.dao.EmployeeDaoImpl2">
        <property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />

    </bean>


</beans>